.on-bottom {
 	display: flex;
    flex: 0 0 50px;
    flex-wrap: wrap;
    align-items: center;
    height: 50px;
    padding: 0 1rem;
	bottom: 0;
    left: 0;
    position: sticky;
    right: 0;
    z-index: 1032;
}

@media (min-width: 1120px) {
.modal-middle {
    min-width: 1120px;
} }